
<!-- Footer -->
<footer>
    <div class="container">
        <div class="footer-content">
            <!-- Brand -->
            <div class="footer-section">
                <div style="display: flex; align-items: center; gap: 0.5rem; margin-bottom: 1rem;">
                    <div><img src="assets/icon/LogoJakartaReimaginedWhite.png" style="min-height: 70px; min-width: 289px;"></div>
                </div>
                <p>Jakarta ReImagined: Placemaking Design Competition hadir sebagai ruang yang dirancang untuk mewadahi ide-ide kreatif mengenai pengembangan Jakarta menuju kota global masa depan.</p>
            </div>

            <!-- Contact -->
            <!-- <div class="footer-section">
                <a href="https://www.instagram.com/jakartareimagined/"><p>Instagram</p></a>
            </div> -->

            <!-- Links -->
            <div class="footer-section">
                <h3>KONTAK</h3>
                <a href="mailto:jakartareimagined@gmail.com"><img src="assets/icon/gmail.png">E-mail</a>
                <a href="https://wa.me/6282220796887"><img src="assets/icon/phone-call.png">Telepon</a>
                <a href="https://www.instagram.com/jakartareimagined/"><img src="assets/icon/instagram.png"><p>Instagram</p></a>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2026 Jakarta Reimagined. All rights reserved.</p>
            <div class="footer-links">
                <!-- <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a> -->
            </div>
        </div>
    </div>
</footer>