
<header id="header">
    <div class="container">
        <div class="header-content">

            <div class="logo">
                <a href="../index.html">
                    <img src="../assets/icon/icon-jkt-reimagine.png" alt="Logo">
                </a>
            </div>

            <nav id="navMenu">
                <a href="../about.html">
                    <button class="nav-btn">ABOUT</button>
                </a>

                <a href="../register.html">
                    <button class="nav-btn">SUBMISSION</button>
                </a>

                <a href="../index.html#juri">
                    <button class="nav-btn">JUDGES</button>
                </a>
            </nav>

            <button id="menuToggle" class="menu-toggle">
                ☰
            </button>

        </div>
    </div>
</header>