*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
  scroll-behavior: smooth;
}

:root{
    --font-display: 'Archivo', sans-serif;
    --font-body: 'Archivo', sans-serif;
    --primary-orange: #F5A623;
    --light-blue: #A8D5E8;
    --dark-gray: #1A1A1A;
    --light-gray: #F0F0F0;
    --border-gray: #E5E5E5;
    --primary:#9CC8D8;
    --dark:#1A1A1A;
    --white:#ffffff;
    --orange:#F5A623;
}

body{
    font-family:'Archivo',sans-serif;
    background:var(--primary);
    color:var(--dark);
}

.container{
    width:min(1200px,90%);
    margin:auto;
}

/* ==========================
HEADER
========================== */

/* Header/Navigation */
header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;

    background:transparent;

    transition:
        background .4s ease,
        backdrop-filter .4s ease,
        box-shadow .4s ease,
        padding .4s ease;
}

header.scrolled {
    background:rgba(255,255,255,.95);
    backdrop-filter:blur(18px);
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    border-bottom:1px solid rgba(0,0,0,.05);
}

.header-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:22px 0;
    transition:.4s;
}

header.scrolled .header-content{
    padding:15px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo img{
    height:100px;
    transition:.4s;
}

header.scrolled .logo img{
    height:50px;
}

/* .logo-text {
    font-size: 1.125rem;
    font-weight: bold;
    font-family: var(--font-display);
    letter-spacing: -0.02em;
    line-height: 1.2;
} */

@media (max-width:768px){

    .logo img{
        height:60px;
    }

    header.scrolled .logo img{
        height:50px;
    }

}

nav {
    display: none;
    gap: 2rem;
}

@media (min-width: 768px) {
    nav {
        display: flex;
    }
}

nav button{
    position:relative;
    background:transparent;
    border:none;
    outline:none;
    box-shadow:none;
    cursor:pointer;
    padding:8px 0;
    margin:0 18px;
    color:#111;
    font-size:20px;
    font-weight:500;
    letter-spacing:.5px;
    font-family:var(--font-body);
    transition:color .35s ease;
}

nav button:hover {
    color: var(--primary-orange);
}

nav button.active {
    color: var(--primary-orange);
}

header.scrolled nav button{
    color:#333;

}

header.scrolled nav button:hover {
    color: var(--dark-gray);
}

nav button::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:-6px;
    width:0;
    height:2px;
    background:#F5A623;
    border-radius:10px;
    transform:translateX(-50%);
    transition:.35s;
}

nav button:hover::after{
    width:100%;
}

nav button:hover::after{
    width:100%;
}

header.scrolled nav button:hover{
    color:#F5A623;
}

nav button:hover,
nav button:focus,
nav button:active{
    background:transparent;
    outline:none;
    box-shadow:none;
}

.menu-toggle{
    display:none;
    border:none;
    background:none;
    font-size:34px;
    cursor:pointer;
    color:#111;
    z-index:1001;
}

@media(max-width:768px){

    .menu-toggle{
        display:block;
    }

    nav{
        position:fixed;
        top:0;
        right:-100%;
        width:80%;
        max-width:320px;
        height:100vh;
        background:rgba(255,255,255,.95);
        backdrop-filter:blur(20px);
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:30px;
        transition:.45s;
        box-shadow:-10px 0 30px rgba(0,0,0,.12);
    }

    nav.active{
        right:0;
    }

    nav a{
        width:100%;
        text-align:center;
    }

    nav button{
        font-size:24px;
        margin:0;
    }
}

.menu-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.35);
    opacity:0;
    visibility:hidden;
    transition:.35s;
    z-index:998;
}

.menu-overlay.active{
    opacity:1;
    visibility:visible;
}


/* ==========================
SECTION
========================== */

section{
    padding:120px 0;
}

.section-tag{
    color:#111;
    font-size:30px;
    letter-spacing:4px;
    text-transform:uppercase;
}

.section-title{
    font-size:48px;
    margin-bottom:60px;
}

/* ==========================
ABOUT
========================== */
.about-section{

    position:relative;

    background: url("../icon/about-bg-hero.png") center/cover no-repeat;

    padding:120px 0;

}
.about-grid{
    display:grid;
    margin-top: 50px;
    grid-template-columns:1fr 1fr;
    gap:80px;
    align-items:center;
}

.about-left h1{
    font-size:40px;
    margin:15px 0 30px;
    text-transform: uppercase;
}

.about-left p{
    /* text-indent: 40px; */
    text-align: justify;
    font-size:18px;
    line-height:1.9;
    margin-bottom: 10px;
    color:#2d2d2d;
}

.about-image{
    position:relative;
    border-radius:25px;
    overflow:hidden;
    box-shadow:0 25px 60px rgba(0,0,0,.15);
    transition:.5s;
}

.about-image:hover{
    transform:translateY(-10px);
}

.about-image img{
    width:100%;
    display:block;
    opacity:1;

    transform: scale(1.08);

    transition:
        opacity .8s ease,
        transform 6s ease-in-out;

}

/* Fade Out */
.about-image img.fade-out{
    opacity:0;
}

/* Zoom In */
.about-image img.zoom-in{
    transform:scale(1.12);
}

/* Zoom Out */
.about-image img.zoom-out{
    transform:scale(1);
}

/* ==========================
PARTNER
========================== */
.partner-section{
    position:relative;
    background: url("../icon/about-bg-parnertship.png") center/cover;
    padding:90px 0;
    border-top:1px solid rgba(255,255,255,.3);
    border-bottom:1px solid rgba(255,255,255,.3);
}
.partner-grid{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:45px;
    margin-top:45px;
}
.partner-item{
    display:flex;
    justify-content:center;
    align-items:center;
    transition:.35s;
}

/* .partner-item:hover{
    background:#fff;
    transform:translateY(-8px);
    box-shadow:
    0 20px 40px rgba(0,0,0,.08);
} */

.partner-item img{
    height:70px;
    width:auto;
    opacity:.75;
    transition:.35s;
    /* filter:grayscale(100%); */
}

/* .partner-item:hover img{
    opacity:1;
    filter:none;
    transform:scale(1.08);
} */

/* ==========================
TIMELINE
========================== */
.timeline-section{

    position:relative;

    background: url("../icon/about-bg-timeline.png") center/cover;

    padding:120px 0;

}
.timeline{
    position:relative;
    margin-left:25px;
}

.timeline::before{
    content:"";
    position:absolute;
    left:8px;
    top:0;
    bottom:0;
    width:3px;
    background:#fff;
}

.timeline-item{
    display:flex;
    gap:30px;
    position:relative;
    margin-bottom:60px;
}

.dot{
    width:20px;
    height:20px;
    border-radius:50%;
    background:#fff;
    flex-shrink:0;
    margin-top:5px;
    box-shadow:0 0 0 6px rgba(255,255,255,.2);
}

.content{
    background:rgba(255,255,255,.35);
    backdrop-filter:blur(15px);
    border-radius:18px;
    padding:25px;
    width:50%;
    transition:.35s;
}

.content:hover{
    transform:translateX(10px);
    background:white;
}

.content span{
    font-size:13px;
    letter-spacing:2px;
    color:#666;
}

.content h3{
    margin:10px 0;
    font-size:28px;
}

.content p{
    line-height:1.7;
}

/* ==========================
FOOTER
========================== */
/* Footer */
footer {
    background-color: var(--dark-gray);
    padding: 3rem 0;
}

@media (min-width: 768px) {
    footer {
        padding: 4rem 0;
    }
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .footer-content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.footer-section h3 {
    font-weight: bold;
    font-family: var(--font-display);
    color: white;
    margin-bottom: 1rem;
}

.footer-section p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.875rem;
    line-height: 1.6;
    margin-bottom: 0.75rem;
}

.footer-section a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 0.875rem;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.75rem;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: white;
}
.footer-section img{
    width: 15px;
    height: 15px;
    align-items: center;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.875rem;
}

@media (min-width: 768px) {
    .footer-bottom {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
}

.footer-links {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

@media (min-width: 768px) {
    .footer-links {
        justify-content: flex-end;
    }
}

.footer-links a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: white;
}

@keyframes kenburns{

0%{

    transform:scale(1);

}

100%{

    transform:scale(1.12);

}

}

/* ==========================
BACKGROUND PIXEL
========================== */

body::before{
    content:"";
    position:fixed;
    inset:0;
    background:
    url("../icon/pixel-pattern.png");
    opacity:.08;
    pointer-events:none;
    z-index:-1;
}

/* ==========================
RESPONSIVE
========================== */

@media(max-width:992px){
    .about-grid{
        grid-template-columns:1fr;
    }
    .about-left{
        order:2;
    }
    .about-right{
        order:1;
    }
    .section-title{
        font-size:38px;
    }
    .about-left h1{
        font-size:48px;
    }
    .partner-grid{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:768px){
    section{
        padding:80px 0;
    }
    .header .container{
        flex-direction:column;
        gap:20px;
    }
    nav{
        gap:20px;
        flex-wrap:wrap;
        justify-content:center;
    }
    .about-left h1{
        font-size:38px;
    }
    .about-left p{
        font-size:16px;
    }
    .partner-grid{
        grid-template-columns:1fr;
    }
    .content h3{
        font-size:22px;
    }
}